body{
    background-color: #67676729;
    padding: 10px 0px 0px 0px;
}
header{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: white;
    padding: 8px 0px 8px 150px;
    width: 1370px;
    
    
}
.anc-2{
    text-decoration: none;
    font-size: xx-large;
  
}
.anc-1{
    max-width: 300px;
    background-color: white;
    border-radius: 10px;
    width: 250px;
    height: 15em;
    text-decoration: none;
    color: black;
}
.one1{
    max-width: 300px;
    background-color: white;
    border-radius: 10px;
    width: 250px;
    height: 15em;
}
.one{
    display: flex;
   justify-content: space-around;
    
}
strong{
    display: flex;
    justify-content: center;
    font-weight: bolder;
    size: 10rem;
    margin: 20px 0px 20px 900px;
}
h4{
    color:#00A5EC ;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-left: 30px;
}
hr{
    color: rgb(230, 228, 228);
}
@media screen and (max-width:360px){
    .one{
        flex-direction: column;
    
    }
    body{
        background-color: whitesmoke;
    }
    .anc-1{
        width: 270px;
        height: 300px;
        font-size: 15px;
        margin-left: 17px;
    }
    .one1{
        width: 270px;
        height: 300px;
        margin-top: 20px;
        margin-left: 17px;
        font-size: 15px;
    }
    .anc-2{
        width: 250px;
    
    }
    header{
        width: 100%;
        padding-left: 10px;  
        font-size: 18px; 
        padding-top: 5px;
        padding-bottom: 5px;
    }
    strong{
        margin-left: 16%;
        margin-top: 5%;
        margin-bottom: 10px;
        font-size: 40px;
    }
    k{
        display: none;
    }
    h4{
        
        padding-left: 10px;
        font-size: 20px;
    }
    input.box{
        width: 15px;
        height: 15px;
    }
}
